.Settings {
  height: 100%;
  text-align: left;
  overflow-y: auto;
}

.SettingsHeader {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
}

.SettingsBodyContainer {
  margin-bottom: 25px;
  margin-left: 10px;
}
