.Settings {
  text-align: left;
}

.SettingsHeader {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
}

.SettingsBodyContainer {
  margin-bottom: 40px;
  margin-left: 10px;
}

