.Settings {
  text-align: left;
  margin: 10px;
}

.SettingsHeader {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.SettingsItems {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.ToolsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SettingsButton {
  padding: 10px 15px;
  font-weight: bold;
  padding: 7px 20px;
  display: inline-flex;
  font-size: 12px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-align: center;
}

.SettingsButton:hover {
  background-color: #0068d6;
}
