.CalendarContainer {
    height: 75%;
    overflow: hidden;
}

.HeaderSectionContainer {
    display: flex;
    padding: 3px;
}

.HeaderButton {
    margin-right: 3px;
    cursor: pointer;
    background-color: #f2fcff;
    font-size: 12px;
    border-radius: 3px;
    padding: 3px 5px
}

.HeaderButton:hover {
    background-color: #9ce8ff;
}