.setting-info-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.setting-info-modal-popup {
  background-color: var(--bg-color);
  width: 90%;
  max-width: 600px;
  min-height: 30%;
  max-height: 70%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}
