.ExportImportButtonContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 40px;
}

.ExportImportRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
  }

.ExportImportButton {
    min-width: 45%;
    height: 30px;
    font-weight: bold;
    display: flex;
    font-size: 12px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.ExportImportButton:hover {
    background-color: #0068d6;;
}

.ExportImportButtonGroup {
    display: flex; 
    margin: 0; 
    padding: 5px;
}