.ExportImportButtonContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.ExportImportButton {
    padding: 10px 15px;
    font-weight: bold;
    padding: 7px 20px;
    display: inline-flex;
    font-size: 12px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
}
  
.ExportImportButton:hover {
    background-color: #0068d6;
}
  