#discord-button .icon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

#discord-button .icon svg {
  fill: white;
}

#discord-button a {
  font-size: 14px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #7289da;
  text-decoration: none;
}

#discord-button a:hover {
  background-color: #6a7fc9;
}
