.calendar {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 80vh;
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: grid;
    grid-template-columns: 50px repeat(5, 1fr); /* Adjusted to 5 columns for the days */
    background-color: #f0f0f0;
    text-align: center;
  }
  
  .header-cell {
    padding: 10px;
    font-weight: bold;
    border: 1px solid #ddd;
  }
  
  .body {
    display: grid;
    grid-template-columns: 50px repeat(5, 1fr); /* Adjusted to 5 columns for the days */
    grid-auto-rows:15px;
  }
  
  .time-markers {
    display: grid;
    grid-auto-rows:18px;
  }
  
  .time-marker {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    font-size: 10px;
  }
  
  .body-column {
    display: grid;
    grid-auto-rows:18px;
  }
  
  .body-cell {
    border: 1px solid #ddd;
    padding: 5px;
    position: relative;
    font-size: 9px;
  }
  
  .event {
    background-color: #add8e6;
    padding: 5px;
    margin: 2px 0;
    border-radius: 4px;
    font-size: 9px;
  }