body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-accent-colour: #00a7e1;
  --secondary-accent-colour: #9ce8ff;
  --default-radius: 20px;
  --small-radius: 12px;
  --tiny-radius: 8px;
  --default-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  --base-1: #545454;
  --base-1-shaded: #d8d8d8;
  --warning-colour: #ed2121;
  --highlight-colour: #ffa500;
  --base-colour: #eaeaea;
  --disabled-colour: #f2f2f2;
  --disabled-font-colour: #c5c5c5;
}
