.ToolItem {
  display: flex;
  justify-content: space-between;
}

.ToolContainer {
  display: flex;
  align-items: center;
}

.ToolItemInfoButton {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
